[Desktop Entry]
Encoding=UTF-8
Name=Link to Raspberry Pi Print Server: Setup a Network Printer - Pi My Life Up
Type=Link
URL=https://pimylifeup.com/raspberry-pi-print-server/
Icon=text-html
